/* ==========================================================================
   Dark skin
   ========================================================================== */

/* Colors */
$background-color:#FAF8FF !default;
$text-color: #181818 !default;
$primary-color: #8685EF !default;